<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	
<body>
{% for name,plots in figures.items %}
<h1>{{name}}</h1>
<img src= "data:image/png;base64,{{ plots }}" alt="альтернативный текст" width = "640" height = "480">

{% endfor %}
</body>
</html>