{% load static %}
<head>
    <meta charset="UTF-8">
	<title>Wolfram2.0</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	

<ul>
{% if user.is_authenticated %}
	<li><a href = "{% url 'all_plots' %}" > Show my Plots</a></li>
	<li><a href = "{% url 'logout' %}" > Log out </a></li>
	{% else %} 
	<li><a href = "{% url 'login' %}" > Log In </a></li>
	<li><a href = "{% url 'signup' %}" > Sign up </a></li> 	
{% endif %}
</ul>
<div>
		<h1>
		Построитель графиков математических функций<span class="first"></span>
		</h1>
</div>

	<div class = "container" > 
	{% block content %} 
	{% endblock content %} 
	</div>
</body>	
</html>
