<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Wolfram2.0</title>
	<link rel="stylesheet" href="{% static "style.css" %}" />
</head>
<div>
	<h1>
	Построитель графиков математических функций<span class="first"></span>
	</h1>
</div>
<body>
	<form action="" method="POST">
		{% csrf_token %}
		<label>"*" - Умножить,"+"- Сложить,"/" - Делить,"-"- Вычесть,"^"- Возвести в степень</label><br />
		{{ form }}
		<a>&rarr;</a>
		<input type="submit" value="Calculate" name = "Calculate">
		{% if user.is_authenticated %} 
		<input type="submit" value="Calculate and Save" name = "Save">
		{% endif %}
		<h3>{{ error }}</h3>
	</form>
	<img src= "data:image/png;base64,{{ data }}" alt="альтернативный текст" width = "640" height = "480">
	
	{% if user.is_authenticated %}
	<ul>
		<li><a href = "{% url 'all_plots' %}" > Show my Plots</a></li>
		<li><a href = "{% url 'logout' %}" > Log out </a></li>
		{% else %} 
		<p> You are not logged in. </p>
		<li><a href = "{% url 'login' %}" > Log In </a></li> 
		{% endif %}
	</ul>
</html>