<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">


{% block content %}
<body>
	<form action="" method="POST">
		{% csrf_token %}
		<label>"*" - Умножить,"+"- Сложить,"/" - Делить,"-"- Вычесть,"^"- Возвести в степень</label><br />
		{{ form }}
		<a>&rarr;</a>
		<input type="submit" value="Calculate" name = "Calculate">
		{% if user.is_authenticated %} 
		<input type="submit" value="Calculate and Save" name = "Save">
		{% endif %}
		<h3>{{ error }}</h3>
	</form>
	<img src= "data:image/png;base64,{{ data }}" alt="альтернативный текст" width = "640" height = "480">
	
</body>
{% endblock content %}